<!DOCTYPE html>
<html>
<head>
    <title>Pending Users</title>
</head>
<body>
<h2>Pending Students</h2>

<table border="1">
    <tr>
        <th>Full Name</th>
        <th>Username</th>
        <th>Action</th>
    </tr>

    <tr th:each="u : ${users}">
        <td th:text="${u.fullName}"></td>
        <td th:text="${u.username}"></td>
        <td>
            <form th:action="@{'/admin/users/approve/' + ${u.id}}" method="post">
                <button type="submit">Approve</button>
            </form>
        </td>
    </tr>

</table>

</body>
</html>
